.video-progress:hover .MuiSlider-rail, .video-progress:hover .MuiSlider-track { 
    transform: scaleY(2);
}

.video-progress:hover .MuiSlider-thumb {
    height: 12px;
    margin-top: -5px;
    transform: scale(1.2);
}

.MuiSlider-thumb:after {
    content: none !important;
}

.video-progress .MuiSlider-thumb.Mui-focusVisible, .video-progress .MuiSlider-thumb:hover, .video-progress .MuiSlider-thumb.MuiSlider-active {
    box-shadow: none;
}

.video-progress:hover::before {
    content: attr(data-timestamp);
    left: var(--mouse-position);

    position: absolute;
    padding: 3px 4px;
    top: -34px;
    transform: translateX(-50%);

    color: #fff;
    background: rgba(97, 97, 97, 0.9);
    border-radius: 4px;    
}