.video-progress .MuiSlider-rail,
.video-progress .MuiSlider-track,
.video-progress .MuiSlider-thumb,
.video-progress::after {
    transition: all .2s ease-in-out;
}

.video-progress:hover .MuiSlider-rail,
.video-progress:hover .MuiSlider-track,
.video-progress:hover .MuiSlider-thumb,
.video-progress:hover::after {
    transform: scaleY(2);
}

.video-progress:hover .MuiSlider-thumb {
    height: 12px;
    margin-top: -5px;
    transform: scale(1.2);
}

.video-progress .MuiSlider-track, .video-progress .MuiSlider-thumb {
    z-index: 1;
}

.video-progress .MuiSlider-thumb.Mui-focusVisible, .video-progress .MuiSlider-thumb:hover, .video-progress .MuiSlider-thumb.MuiSlider-active {
    box-shadow: none;
}

.video-progress:hover::before {
    content: attr(data-timestamp);
    left: var(--mouse-position);

    position: absolute;
    padding: 3px 4px;
    top: -34px;
    transform: translateX(-50%);

    color: #fff;
    background: rgba(97, 97, 97, 0.9);
    border-radius: 4px;
}

.video-progress::after {
    height: 2px;
    content: '';
    position: absolute;
    background: #fff;
    width: var(--buffered);
    opacity: 0.8;
}